.beaver-main-container {
	width: 200px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
}


.beaver-main-container .beaver-head {

	background-color: rgb(159, 64, 0);
	width: 200px;
	height: 200px;
	border-radius: 50%;

}

.beaver-main-container .beaver-body {
	width: 100%;
	height: 250px;
	background-color: rgb(168, 57, 46);
	border-radius: 30% 30% 0 0;
	overflow: hidden;
	position: relative;
	bottom: 75px;
}

.beaver-main-container .beaver-body .stripe {
	background-color: rgb(79, 24, 18);
	height: 30px;
}

.beaver-main-container .beaver-body .stripe.stripe-alternate {
	background-color: unset;
}

.eyes-container {
	position: relative;
	height: 20px;
	width: 100%;
	margin-top: 40px;
	display: inline-block;
}

.eyes-container .eye {
	background-color: black;
	width: 20px;
	height: 100%;
	border-radius: 50%;
	position: relative;
}

.eyes-container .eye.float-left {
	margin-left: 40px;
}

.eyes-container .eye.float-right {
	margin-right: 40px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.nose-container {
	width: 100px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
	position: relative;
}

.nose-container .nose {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(231, 160, 114);
	position: relative;
}

.nose-container .nose:nth-child(2) {
	left: -10px;
}

.nose-container .nose:nth-child(1) {
	left: 10px;
}

.nose-container .nose-center {
	background-color: black;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

.mouth-container {
	background-color: blanchedalmond;
	width: 20px;
	height: 30px;
	bottom: 10px;
	margin-left: 90px;
	position: relative;
	z-index: 1;
}

.line {
	border-left: 2px solid black;
	height: 30px;
	margin-left: 9px;
}

.hat-container {
	background-color: #00001b;
	width: 135px;
	height: 25px;
	bottom: -20px;
	position: relative;
	left: -40px;
	border-radius: 40%;
	transform: rotate(-5deg);
}

.beaver-hat-container {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(-9deg);
	margin-top: -3px;
}

.beaver-hat-container .hat-left {
	height: 30px;
	width: 82px;
	border-radius: 50%;
	background-color: rgb(27, 37, 47);
	float: left;
	position: absolute;
	left: 20px;
	top: 5px;
	transform: rotate(-15deg);
	z-index: 1;
}

.beaver-hat-container .hat-middle {
	width: 120px;
	height: 40px;
	border-radius: 50% 20% 20% 50%;
	background-color: rgb(27, 37, 47);
	float: left;
	position: relative;
	left: 40px;
}

.beaver-hat-container .hat-middle .hat-top-something {
	height: 30px;
	width: 38px;
	border-radius: 50%;
	background-color: black;
	z-index: 1;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -7px;
}

.beaver-hat-container .hat-right {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: rgb(27, 37, 47);
	float: left;
	position: absolute;
	right: 20px;
	top: -3px;
}

.beaver-hat-container .hat-sun-protector {
	background-color: rgb(25, 0, 47);
	height: 12px;
	width: 140px;
	border-radius: 50%;
	position: absolute;
	bottom: -6px;
	left: 26px;
}

.circle-right {
	background-color: #00006f;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	left: 23px;
	bottom: 25px;
	position: relative;
}

.circle-left {
	background-color: #00006f;
	width: 100px;
	height: 25px;
	border-radius: 45%;
	position: relative;
	right: 50px;
	bottom: 56px;
	transform: rotate(-19deg);
}

.cozoroc-black {
	background-color: black;
	width: 25px;
	height: 20px;
	border-radius: 60%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 10px;
}

.scarf {
	background-color: rgb(123, 36, 27);
	width: 100px;
	height: 25px;
	border-radius: 43%;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(6deg);
	position: relative;
	z-index: 1;
	bottom: 5px;
}

.scarf-main-container{
	top: 12px;
	position: relative;	
}

.scarf-main-container .scarf:nth-child(1) {
	left: 35px;
}

.scarf-main-container .scarf:nth-child(2) {
	left: -35px;
	transform: rotate(-6deg);
}

.bowe {
	background-color: rgb(97, 30, 24);
	width: 45px;
	height: 25px;
	border-radius: 36%;
	margin-left: 95px;
	margin-right: auto;
	position: relative;
	z-index: 2;
	bottom: 10px;
}

.scarf-main-container .bowe:nth-child(3) {
	left: -5px;
	bottom: 1px;
	transform: rotate(20deg);
}

.scarf-main-container .bowe:nth-child(4) {
	left: -30px;
	transform: rotate(-6deg);
	bottom: 26px;
}

.circle {
	background-color: rgb(123, 36, 27);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
	bottom: 50px;
	left: 5px;
}
.circle-back {
	width: 25px;
	height: 25px; 
	border-radius: 50%;
	margin: auto;
	position: relative;
	float: left;
	bottom: 80px;
	background-color: rgb(97, 30, 24);
	z-index:-1;
}

.scarf-main-container .circle-back:nth-child(6){
	left: 35px;
}

.scarf-main-container .circle-back:last-child{
	left: 113px;
}